# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.user
*.suo
*.vcxproj.user
*.nuget.props
*.nuget.targets

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Cake
tools/**/*
!tools/packages.config

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Paket
.paket/
paket-files/

# Code coverage
*.coverage
*.coveragexml
_Reports/
__Instrumented/

# Rider
.idea/
